{
  "extends": ["get-off-my-lawn", "plugin:react/jsx-runtime"],
  "rules": {
    "arrow-body-style": "off",
    "sort-keys": "off",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "react/jsx-no-useless-fragment": "off",
    "import/order": "off",
    "objects/no-object-properties-first-line": "off",
    "objects/no-object-properties-one-line": "off",
    "objects/no-object-properties-last-line": "off",
    "unicorn/no-null": "off",
    "import/exports-last": "off",
    "unicorn/filename-case": "off",
    "eslint-comments/no-unused-disable": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
    // enable additional rules, override rule options, or disable rules
  }
}
